.overview-container {
  padding-top: 20px;
  padding-bottom: 300px;
  margin-left: 5%;
  justify-content: center;
  /* padding-left: 5%;
  padding-right: 5%; */
}
.category {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: lighter;
}
.name {
  font-size: 30px;
  font-weight: 600;
}
.price {
  font-size: 15px;
  font-weight: lighter;
}
/* Product info*/
.price-container {
  display: flex;
  flex-direction: row;

  margin: 5px;
}
.sales-price {
  font-size: 15px;
  color: red;
  margin-right: 10px;
}
.on-sale {
  font-size: 15px;
  text-decoration: line-through;
}

/* STYLE SELECTOR */

.style-container {
  padding-bottom: 20px;
  justify-content: space-between;
  margin: 8px;
}
.style-name {
  padding-bottom: 10px;
  font-size: 17px;
}
.thumbs.animated {
  display: flex;
  flex-direction: column;
}
.MuiGrid-container {
  display: flex;
  flex-wrap: wrap;
}
.MuiAvatar {
  width: 60px;
  height: 60px;
}
.MuiGrid-item.MuiGrid-grid-xs-2 {
  flex: 1 0 30%;
  margin: 7px;
}

/* IMAGE GALLERY  */
.carousel-root {
  width: 80%;
  height: 40%;
}

.carousel {
  width: 50%;
}
.carousel.carousel-slider {
  position: absolute;
  width: 50% !important;
}
.carousel-slider {
  flex-direction: column;
}

/* IMAGE MODEL */

.image-modal-container {
  position: absolute;
  justify-content: center;
  width: 120%;
  margin-top: -48%;
  margin-left: -26%;
}

.makeStyles-formControl-3.MuiFormControl-root {
  margin-left: 0px;
}

.item {
  width: 100%;
}

.zoom-mouse {
  cursor: zoom-in;
}
